.todoList {
    font-family: "Comic Sans MS", sans-serif;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: rgba(127, 225, 255, 0.42);
    width: content-box;
    border: 1px solid grey;
    border-radius: 5%;

}
.todoList ul {
    list-style-type:  '☻';

}
.todoListTitle {
    font-weight: bold;
    text-align: center;
}